<section class="attributes">
    <header class='attribute'>
        Agility: {{agility.current}}
    </header>
    <header class='attribute'>
        Speed:{{speed.current}}
    </header>
    <header class='attribute'>
        Focus: {{focus.current}}
    </header>
    <header class='attribute'>
        Detection: {{detection.current}}
    </header>
    <header class='attribute'>
        Endurance (max): {{endurance.max}}
    </header>
    <header class='attribute'>
        Endurance (current): {{endurance.current}}
    </header>
    <header class='attribute'>
        HP (max): {{hp.max}}
    </header>
    <header class='attribute'>
        HP (current): {{hp.current}}
    </header>
    <header class='attribute'>
        Genetic Instability: {{instability.current}}
    </header>
    <header class='attribute'>
        Move: {{move.max}} ({{move.current}})
    </header>
</section>
<section class="abilities">
</section>
