<section class="attributes">
    <header class='attribute'>
        Agility: {{agility.current}}
    </header>
    <header class='attribute'>
        Speed:{{speed.current}}
    </header>
    <header class='attribute'>
        Focus: {{focus.current}}
    </header>
    <header class='attribute'>
        Detection: {{detection.current}}
    </header>
    <header class='attribute'>
        Endurance: {{endurance.current}} ({{endurance.max}})
    </header>
    <header class='attribute'>
    HP: {{hp.current}} ({{hp.max}})
    </header>
    <header class='attribute'>
        Genetic Instability: {{instability.current}}
    </header>
    <header class='attribute'>
        Move: {{move.current}} ({{move.max}})
    </header>
</section>
<section class="abilities">
</section>
