<div class="attributes">
    <header class='attribute'>
        Agility: {{attributes.agility.current}}
    </header>
    <header class='attribute'>
        Speed:{{attributes.speed.current}}
    </header>
    <header class='attribute'>
        Focus: {{attributes.focus.current}}
    </header>
    <header class='attribute'>
        Detection: {{attributes.detection.current}}
    </header>
    <header class='attribute'>
        Endurance: {{attributes.endurance.current}} ({{attributes.endurance.max}})
    </header>
    <header class='attribute'>
        HP: {{attributes.hp.current}} ({{attributes.hp.max}})
    </header>
    <header class='attribute'>
        Genetic Instability: {{attributes.instability.current}}
    </header>
    <header class='attribute'>
        Move: {{attributes.move.current}} ({{attributes.move.max}})
    </header>
</div>
<div class='abilities'>
    <header class='ability'>
    <kbd {{bindAttr class="abilities.movementAbilityOne.available:light:dark"}}>1</kbd> {{abilities.movementAbilityOne.name}}
    </header>
    <header class='ability'>
    <kbd {{bindAttr class="abilities.restAbilityOne.available:light:dark"}}>.</kbd> {{abilities.restAbilityOne.name}}
    </header>
</div>
