<section class='attribute'>
    Agility: {{agility}}
</section>
<section class='attribute'>
    Speed:{{speed}}
</section>
<section class='attribute'>
    Focus: {{focus}}
</section>
<section class='attribute'>
    Detection: {{detection}}
</section>
<section class='attribute'>
    Endurance (max): {{endurance.max}}
</section>
<section class='attribute'>
    Endurance (current): {{endurance.current}}
</section>
<section class='attribute'>
    HP (max): {{hp.max}}
</section>
<section class='attribute'>
    HP (current): {{hp.current}}
</section>
<section class='attribute'>
    Move: {{move.max}} ({{move.current}})
</section>
